<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
   
    <%- include('./partials/nav.ejs') %>
    
    <div class="blogs content">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>